body{
	background: #efefef;
}
.page{
	
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background: #fff;
	width: 600px;
	margin: auto;
	padding: 30px 80px;
	font-size: 18px;

}
.header{
	font-size: 36px;
	text-align: center;

}
.img{
	text-align: center;
}
.img img{
	width: 300px
}